.focused-item-hidden {
    display: none;
}

.focused-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start; /* Keep the content starting from the top */
    justify-content: center;
    z-index: 999;
    overflow-y: auto; /* Allows scrolling on the entire backdrop if needed */
}

.focused-content {
    position: relative; /* Changed to position relative within the fixed backdrop */
    margin-top: 3.5vh; /* Adjust space from the top based on your navbar's height */
    background-color: #141414;
    color: white;
    width: 50%; /* Adjust width to your requirement */
    min-height: 95%; /* Make the content tall enough */
    border-radius: 8px;
    overflow: hidden; /* Hide overflow to allow fade effect on image */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.focused-details {
    margin-top: 20px;
}

/* Styling for the image */
#focusedImage {
    width: 100%; /* Make the image full width of the focused-content */
    max-height: 40%; /* Image takes up 60% of the container's height */
    object-fit:contain; /* Cover the area without losing aspect ratio */
    position: relative; /* Relative position to allow for gradient overlay */
}

/* Add gradient fade-out effect on the image */
.image-fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Adjust the height of the fade effect as needed */
    background-image: linear-gradient(to top, #141414, #141414, transparent);
}

.image-container {
    position: relative;
    width: 100%; /* Ensure this matches your layout needs */
    height: 60%; /* Adjust based on your focused-content height */
    overflow: hidden; /* This ensures the fade-out does not spill outside */
}
