/* * {
    outline: 1px solid red;
}

/* General styles */
html, body {
    height: 100%; /* Ensures the root and body cover the full height of the viewport */
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column; /* Stacks children (like header, main, footer) vertically */
    min-height: 100%; /* Ensures at least the viewport height */
    overflow-x: hidden;
}

/* Main content area - add an ID or class to your main content area in HTML if not using <main> */
main {
    flex: 1; /* Allows the main content to expand and take available space, pushing the footer down */
    overflow-x: hidden;
}

/* Styles for the footer */
.site-footer {
    background-color: #333; 
    color: #ccc; 
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

#search-results {
    padding-top: 100px;
}

#search-results .scroll-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    align-items: center; 
    padding: 10px;
    gap: 40px; /* Adjust spacing between items */
}

#search-results .row-item-wrapper {
    flex: 1 1 16%; /* Adjusts the basis to near 16.6% for 6 items per row */
    max-width: 16%; /* Ensures no more than 6 items per line */
    box-sizing: border-box;
    margin-bottom: 10px; /* Optional: Adds space between rows */
}

#search-results .row-item {
    animation: popUp 0.4s ease-out forwards;
}

.footer-content a {
    color: #ccc; 
    text-decoration: none; 
    display: inline-flex; 
    align-items: center; 
    gap: 5px;
}

.footer-content a:hover {
    color: #fff; 
    text-decoration: underline; 
}

.site-footer {
    background-color: #333; 
    color: #ccc; 
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.footer-content p {
    margin: 0; 
}

/* Mobile styles */
@media (max-width: 600px) {
    .footer-content a span.text {
        display: none; /* Hide the text in mobile view */
    }

    .footer-content a i {
        font-size: 15px; /* Adjust the size of icons as needed */
    }

    .footer-content a {
        padding: 0px; /* Adjust as necessary for mobile */
    }
}