/* Navbar styles */
.navbar {
    transition: top 0.5s;
    background-color: #141414;
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar-content, .navbar-left, .navbar-right, .navigation {
    display: flex;
    align-items: center;
}

.navbar-content {
    justify-content: space-between;
    width: 100%;
}

.navigation {
    margin-left: 20px;
}

.nav-link, .nav-icon {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px; /* Adjusted for better readability */
}

.nav-link:hover, .nav-icon:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    height: 50px;
}

.logo:hover{
    cursor: pointer;
}

/* Search container */
.search-container {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}

.search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px; /* Adjusted for better readability */
}

.search-input::placeholder {
    color: #ccc;
}

.search-input:focus, .search-button {
    outline: none;
}

.search-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px; /* Adjusted for better visibility */
}

@media (max-width: 600px) {

    .navbar-left, .navbar-right, .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        margin: 5px 0; /* Reduced margin and made vertical */
    }

    .navbar {
        display: flex;
        justify-content: space-between; /* Keep logo on one side and search on the other */
        padding: 10px 20px; /* Adjust padding for smaller screens */
    }

    .navigation, .nav-link {
        display: none; /* Hide navigation links */
    }

    .logo {
        height: 40px; /* Adjust logo size for mobile */
    }

    .search-container {
        flex-grow: 1; /* Allow search container to take available space */
        margin-top: 10px; /* Added space above search in mobile layout */
        margin-left: 10px; /* Add some space between logo and search box */
        width: 100%; /* Full width */
    }

    .search-input {
        font-size: 14px; /* Adjust font size for readability */
    }

    .search-button i {
        font-size: 20px; /* Adjust icon size for better touch target */
    }

    .footer-content a {
        gap: 10px; /* Adjust gap for better layout */
        font-size: 14px; /* Make text smaller to fit better */
    }
}
